<%- include("partials/header") %>

    <div id="error">
        <p>Oops!! No data found</p>
        <p>Either city name is not entered or entered city does not exist!!</p>
    </div>
    <%- include("partials/footer") %>