body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../Images/scenery-2.jpg");
  background-size: cover;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: darkslategray;
  padding: 5px;
  margin: 0 0 20px 0;
}

.container {
  width: 50%;
  margin: auto;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid red;
  height: 22px;
}

input:focus {
  background-color: white;
}

input::placeholder {
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: red;
  color: white;
  padding: 5px;
}

button:hover {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.flex-box {
  display: flex;
  color: black;
  width: 87%;
  border-radius: 12px;
  padding: 29px;
  padding-left: 49px;
  opacity: 0.8;
}

.item-1 {
  background-color: lightgray;
  width: 255px;
  text-align: center;
  border-radius: 12px;
  margin-right: -70px;
  position: relative;
  right: 49px;
  bottom: 21px;
  box-shadow: inset 0px 0px 5px 5px grey;
}

.item-2 {
  text-align: center;
  background-color: lightgrey;
  position: relative;
  bottom: 19px;
  width: 350px;
  left: 27px;
  border-radius: 12px;
  box-shadow: inset 0px 0px 5px 5px grey;
}

h2 {
  text-transform: capitalize;
  line-height: 47px;
}

#error {
  background-color: #F37878;
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
}